body {
    width: 100%;
    height: auto;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
#intro {
    
    height: 100vh;
    
    z-index: -1;
}

img {
    margin-left:-70px;
    width: 135%;
    height: auto;
    margin-top:-40px;
    position: relative;
    
}


h1, p, h2{
    color:white;
    
}
h1, h2{
    font-family:'Times New Roman', Times, serif
}
#text {
    margin-top: 100px;
}

button {
    background-color: transparent;
    border: white solid 1px;
    border-radius: 50%;
    padding: 20px;
    padding-right: 27px;
    padding-left: 27px;
    color: white;
    
    margin: 20px;
}

button:hover{
    transform:scale(1.05)
}

#button{
    margin-top:90px;
}

#view:hover{

    text-decoration:underline white;
    transform:scale(1.01);
}

h1{
    font-size:3em;
}
